/* Background gradient waves */
body {
	margin: auto;
	overflow: auto;
	background: linear-gradient(
		315deg,
		rgb(26, 144, 186) 3%,
		rgb(7, 198, 220) 38%,
		rgb(143, 210, 216) 68%,
		rgb(176, 231, 222) 98%
	);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
	background-attachment: fixed;
}